body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
}

.nav {
    background-color: rgb(16, 114, 206);
    padding: 10px;
    text-align: right;
}

.nav a {
    color: black;
    text-decoration: solid;
    padding: 10px 20px;
    display: inline-block;
}

.nav a:hover{
    background-color:rgb(255, 255, 255);
    border-radius: 5px;
}

h1 { 
    color:black; 
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

#quiz-container {
    max-width: 600px;
    margin: auto;
}

.question {
    background: white;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

    height: 320px;          
    box-sizing: border-box;
    padding: 15px 20px;

    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.question p {
    margin-bottom: 10px;
    color: #000;
}

.answer-btn {
    display: block;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    width: calc(100% - 20px);
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    border-radius: 6px;
    cursor: pointer;
    text-align: left;
    transition: 0.2s;
}

.answer-btn:hover {
    background-color: #dbeafe;
}

.answer-btn.selected {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
}

.answer-btn:active {
    transform: scale(0.98);
}

p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}